/*Custom Futurama Fonts*/
@font-face {
  font-family: Futurama1;
  src: url(fr-title-webfont.woff);
}
@font-face {
  font-family: Futurama2;
  src: url(fr-bold-webfont.woff);
}
@font-face {
  font-family: Futurama3;
  src: url(fr-fal1-webfont.woff);
}
@font-face {
  font-family: Futurama4;
  src: url(fr-fal2-webfont.woff);
}

/*Template for all pages
Note: Frame for phaser game is also added here.*/
* {
    box-sizing: border-box; 
  }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
  }
  #main {
    display: flex;
    flex: 1;
  }
  #main > .main-body {
    flex: 1;
  }

  .main-body, iframe {
    width: 830px;
    height: 630px;
    min-height: 0px;
    border: 1px solid black;
    margin: 0 auto;
    white-space: normal;
    align-items: center;
    justify-content: center;
  }

  iframe {
    display: block;
    border-style:none;
  }

  #main > nav {
    flex: 0 0 20vw;
    background: #84D7E1FF;
    order: -1;
  }

  header, footer, .main-body, nav{
    padding: 1em;
    overflow: auto;
  }

  /*
  Scale images of title to right size
  Applies to all pages
  
  Also adds background to header and puts
  in the right spot so be shown as the 
  Futurama title screen.
  */
header {
  display: flex;
  flex-direction: column;
  background-image: url("../assets/header-bg.jpg");
  background-size: 100% 350px;
  background-repeat:  no-repeat;
  background-position: center center;
  min-height: 30vh;
  align-items: center;
}

.title1, .title2 {
    width: 50%;
    height: auto;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}


img {
    width: 25%;
    max-height: auto;
  }

/*
Appropriate style for our Footer
Applies to all pages.
*/

footer{
  display: flex;
  justify-content: space-between;
  height: 20hv;
  background-color: #008EA0FF;
  color: white;
}

.github {
  color: white;
}

/*
This applies to all items in the main
container
*/
#navi {
  font-family: Futurama3, Arial, sans-serif;
  font-size: 36px;
}

nav a{
  font-family: Futurama2, Arial, sans-serif;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #5A9599FF;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #1A5354FF;
  color: white;
}

.active {
  background-color: #ADE2D0FF;
  color: black;
}

.main-body {
  /*A quick fix to make the background image only.
  Did not want to mess around with the flex containers.*/
  background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url("../assets/planet-express.jpeg");
  background-size: cover;
  background-repeat:  no-repeat;
  background-position: center center;
  font-family: Futurama2, Arial, sans-serif;
}

.angry {
  display: block;
  width: 20%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/*Applies to story page, creating a 
scroll due to overlowing content.*/
.scroll-wrapper {
  display: flex;
  flex: 1;
  min-height: 0px;
}

.scroll {
  flex: 1;
  overflow: auto;
}

.scroll-details {
  padding: 20px;
}
